.Spain {
  background-image: url("../images/Spain.png");
  background-size: cover;
  display: flex;
  padding-top: 228px;
  padding-bottom: 99px;
  padding-left: 34px;
  justify-content: flex-start;

  &--background {
    background-image: url("../images/sunset.png");
    background-size: cover;
    justify-content: flex-end;
    padding-right: 28px;
    padding-top: 229px;

    & > div {
      width: 46%;
    }
  }

  &__description {
    padding-top: 26px;
    padding-left: 30px;
    padding-bottom: 32px;
    width: 44.6%;
    background-color: #232323;
    opacity: 0.9;
    color: #e8e8e8;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: -1px;

    & > h3 {
      color: #e8e8e8;
      font-family: "Josefin Sans", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.5px;
    }

    & > h1 {
      color: #ffffff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      margin-top: 24px;
      margin-left: 1px;
      text-transform: uppercase;
    }

    & > p {
      color: #e8e8e8;
      font-family: "Josefin Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -1.06px;
      line-height: 26px;
      margin-top: 20px;
      margin-bottom: 41px;
      margin-left: 1px;
      padding-right: 11px;
    }

    & > a {
      background-color: #5474fd;
      border: none;
      color: #ffffff;
      display: block;
      font-family: Aleo, serif;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 18px;
      letter-spacing: 1.2px;
      line-height: 26px;
      padding: 18px 9px 17px 7px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 41%;

      &:hover {
        background-color: #496bfe;
      }
    }
  }
}
