.Spain {
  background-image: url("../images/Spain.png");
  background-size: cover;

  display: flex;
  padding-top: 155px;
  padding-bottom: 68px;
  padding-left: 225px;
  justify-content: flex-start;

  &--background {
    background-image: url("../images/sunset.png");
    background-size: cover;
    justify-content: flex-end;
    padding-right: 220px;
    padding-top: 157px;

    & > div {
      width: 46.3%;
    }
  }

  &__description {
    padding-top: 17px;
    padding-left: 18px;
    padding-bottom: 17px;
    width: 35.6%;
    background-color: #232323;
    opacity: 0.9;
    color: #e8e8e8;
    font-family: "Josefin Sans";
    letter-spacing: -1px;

    & > h3 {
      font-weight: normal;
      font-size: 16px;
    }

    & > h1 {
      font-size: 14px;
      font-weight: normal;
      margin-top: 18px;
      text-transform: uppercase;
      margin-left: 1px;
    }

    & > p {
      margin-bottom: 28px;
      font-size: 11px;
      margin-top: 15px;
      line-height: 17px;
      font-weight: normal;
      margin-left: 1px;
      padding-right: 11px;
      letter-spacing: -0.79px;
    }

    & > a {
      display: block;
      padding: 9px;
      padding-top: 8px;
      width: 39%;
      margin-bottom: 18px;
      background-color: #5474fd;
      border: none;
      padding-bottom: 17px;
      text-align: center;
      color: #ffffff;
      font-weight: normal;
      font-size: 15px;
      padding-left: 7px;
      margin-left: 3px;
      text-decoration: none;

      &:hover {
        background-color: #496bfe;
      }
    }

  }
}
