.feedback {
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 202px;

  &__title {
    color: #ffffff;
    font-family: Aleo, serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 63px;
    text-align: center;
  }

  &__item {
    padding-bottom: 1px;
    margin: auto;
    padding-top: 37px;
    padding-left: 35px;

    & > img {
      width: 38.9%;
      vertical-align: top;
    }
  }

  &__text {
    display: inline-block;
    width: 48%;
    padding-left: 56px;
    padding-top: 47px;

    & > h4 {
      display: inline-block;
      color: #fefefe;
      font-family: "Josefin Sans", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 0;
      letter-spacing: -0.75px;
    }

    & > p {
      color: #e8e8e8;
      font-family: "Josefin Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin-top: 25px;
      width: 100%;
      letter-spacing: -1.2px;

      &::before {
        content: "\f10d";
        color: #5474fd;
        font-family: "FontAwesome";
        font-size: 23px;
        padding-right: 10px;
        vertical-align: super;
      }
    }
  }
}
