.footer {
  background-color: #232323;
  padding-top: 76px;
  text-align: center;
  padding-bottom: 10px;

  &__title {
    color: #ffffff;
    font-family: "Josefin Sans";
    font-size: 14px;
    margin-left: 4px;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 26px;
    margin-top: 0;
    text-transform: uppercase;
    /* Text style for "Bhromaon" */
    letter-spacing: 3.36px;
  }

  &__tagline {
    color: #ffffff;
    font-family: "Josefin Sans";
    font-size: 9px;
    font-weight: 400;
    line-height: 17px;
    /* Text style for "S, afe Tra" */
    letter-spacing: 1px;
    margin-top: 0;
  }

  &__social {
    margin-right: 11px;
    text-decoration: none;
  }

  &__social--fb::after {
    content: "\f09a";
    font-family: "FontAwesome";
    color: #e8e8e8;
  }

  &__social--fb:hover::after {
    color: #496bfe;
  }

  &__social--tw::after {
    content: "\f099";
    font-family: "FontAwesome";
    color: #e8e8e8;
  }

  &__social--tw:hover::after {
    color: #496bfe;
  }

  &__social--ln::after {
    content: "\f0e1";
    font-family: "FontAwesome";
    color: #e8e8e8;
  }

  &__social--ln:hover::after {
    color: #496bfe;
  }

  &__social--yt::after {
    content: "\f16a";
    font-family: "FontAwesome";
    color: #e8e8e8;
  }

  &__social--yt:hover::after {
    color: #496bfe;
  }
}
