@font-face {
  font-family: "Aleo";
  src: url("../../fonts/aleo-regular-webfont.eot");
  src: url('../../fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/aleo-regular-webfont.woff2') format('woff2'),
  url('../../fonts/aleo-regular-webfont.woff') format('woff'),
  url('../../fonts/aleo-regular-webfont.ttf') format('truetype'),
  url('../../fonts/aleo-regular-webfont.svg#Aleo Regular') format('svg');
}

::placeholder {
  color: #999999;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.8px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  padding-top: 15px;
  width: 100%;
}

.header {
  background: url("../images/header.png");
  padding-top: 272px;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 14px;
    padding-top: 5px;
    margin-bottom: 16px;
    margin-top: 0;
  }

  &__tagline {
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
    letter-spacing: 5.3px;
    text-align: center;
    padding-left: 17px;
  }

  &__search {
    margin-left: 313px;
    margin-right: auto;
    width: 51.4%;
    border: 1px solid white;
    min-width: 450px;
    box-sizing: border-box;
  }

  &__input {
    border: none;
    font-family: "Josefin Sans", sans-serif;
    line-height: 3;
    padding: 9.6px;
    text-align: center;
    width: 74%;

    &:focus {
      outline: none;
      -webkit-box-shadow: inset 0px 0px 10px 0px rgba(5,144,250,1);
      -moz-box-shadow: inset 0px 0px 10px 0px rgba(5,144,250,1);
      box-shadow: inset 0px 0px 10px 0px rgba(5,144,250,1);
    }
  }

  &__submit {
    background-color: #5474fd;
    border: 2px solid #ffffff;
    padding: 5.2px;
    padding-bottom: 16px;
    padding-top: 13px;
    width: 23.043%;
    box-sizing: border-box;

    color: #ffffff;
    font-family: Aleo;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "Search" */
    letter-spacing: 1.4px;


    &:hover {
      background-color: #496bfe;
    }
  }

  &__btn-title {
    font-family: Aleo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.8px;

    &::after {
      content: "\f002";
      font-family: "FontAwesome";
      padding-left: 18px;
    }
  }

  &__scroll {
    color: #ffffff;
    display: block;
    font-family: "Josefin Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    /* Text style for "S, croll D" */
    letter-spacing: 2.5px;
    margin-top: 113px;
    margin-bottom: 88px;
    margin-left: 11px;
    text-align: center;
    text-decoration: none;

    &:hover::after {
      position: relative;
      top: 20px;
    }

    &::after {
      display: block;
      margin-top: -2px;
      content: "^";
      color: white;
      text-align: center;
      transform: rotate(180deg);
    }
  }

  .nav {
    background-color: #5474fd;
    display: flex;
    justify-content: space-around;

    &__title {
      color: white;
      display: inline-block;
      font-family: "Josefin Sans", sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      width: 9%;
    }

    &__links {
      list-style-type: none;
      padding: 3px;

      & > li {
        display: inline;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        & > a {
          color: white;
          text-decoration: none;

          &:hover {
            font-weight: bolder;
          }
        }
      }
    }
  }
}
