.main {
  align-items: flex-end;
  background-image: url("../images/why-choose-us.png");
  background-size: cover;
  /*display: grid;
  grid-template-columns: 44% 33.2%;
  grid-template-rows: auto;*/
  display: flex;
  min-width: 720px;
  padding-top: 95px;
  padding-bottom: 132px;
  padding-left: 37px;

  &__why-choose-us {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding-top: 45px;
    width: 55%;
  }

  &__title {
    color: #ffffff;
    font-family: Aleo, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
  }

  &__description {
    color: #e8e8e8;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.6px;
    margin-top: 34px;
    margin-bottom: -8px;
    width: 88%;
    word-spacing: 1px;

    &--second-p {
      margin-top: 34px;
      margin-bottom: 41px;
    }
  }

  &__explore {
    background-color: #5474fd;
    border: none;
    color: #ffffff;
    font-family: Aleo, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-left: -2px;
    padding-top: 19px;
    padding-bottom: 16px;
    width: 35.7%;

    &:hover {
      background-color: #496bfe;
    }
  }

  &__cities {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    width: 41.5%;
  }

  img:first-of-type {
    grid-row: 1/2;
    grid-column: 2/3;
    height: auto;
    width: 74%;
    margin-bottom: 2px;
  }

  img:last-of-type {
    width: 73%;
    align-self: flex-end;
  }
}
