@mixin step( $content, $color, $font-size ) {
  content: $content;
  font-family: "FontAwesome";
  color: $color;
  font-size: $font-size;
}

.steps {
  background-color: #333333;
  display: flex;
  justify-content: space-around;
  padding-top: 79px;
  padding-bottom: 100px;
  padding-left: 12px;

  &:nth-child(2) {
    margin-left: 46px;
  }

  & > figure {
    position: relative;
    text-align: center;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    z-index: 1;

    &::after {
      content: "";
      display: block;
      background: white;
      height: 0.001px;
      position: absolute;
      bottom: 0;
      right: 3rem;
      left: 3rem;
      transition: all .3s cubic-bezier(.2, 0, 0, 1);
      visibility: hidden;
      z-index: -1;
    }

    &:hover {
      &::after {
        right: 0;
        left: 0;
        height: 100%;
        visibility: visible;
      }

      & figcaption {
        color: #333333;
      }
    }

    & > figcaption {
      color: #e8e8e8;
      font-family: Aleo, sans-serif;
      font-size: 36px;
      font-weight: 400;
      line-height: 36px;
    }
  }

  &__search {
    margin-right: 46px;
    margin-left: 26px;
  }

  &__search::before {
    @include step( "\f002", #5474fd, 58px );
  }

  &__select {
    margin-left: 0;
  }

  &__select::before {
    @include step( "\f05d", #ff6363, 69px );
  }

  &__enjoy {
    margin-left: 0;
    margin-top: 22px;
  }

  &__enjoy::before {
    @include step( "\f087", #00a2ff, 64px );
  }

  &__select > figcaption {
    margin-top: 22px;
  }

  &__search > figcaption {
    margin-top: 33px;
  }

  &__enjoy > figcaption {
    margin-top: 21px;
  }
}
